<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CAMPEONATO 1VS1</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/inicial_style.css">
</head>
<body
	th:style="'width:1900px; heigth: 1069px; background: url(/img/4950071.jpg) no-repeat center center fixed'">
	<div class="container">
		<header class="menu-bg">
			<div class="menu">
				<div class="menu-logo btns">
					<a href="#"><img src="/img/logo.png"></a>
				</div>
				<nav class="navbar navbar-light menu-nav">
					<ul>
						<li><a class="nav-link efeito-li" href="/time">TIMES</a></li>
						<li><a class="nav-link efeito-li" href="/tecnico">TÉCNICO</a></li>
						<li><a class="nav-link efeito-li" href="/jogador">JOGADORES</a></li>
						<li><a class="nav-link efeito-li" href="/apostas">APOSTAS</a></li>
					</ul>
				</nav>
				<button type="button" class="efeito efeito-1 btn-largo">Login</button>
			</div>
		</header>
	</div>
	<div class="container-fluid" style="margin-left: 14px;">
		<div class="float-sm-left intro">
			<h1 class="intro-1">Sessão em Desenvolvimento</h1>
			<span class="intro-1">Campeonato 1VS1</span>
		</div>
	</div>
</body>
</html>