<!DOCTYPE html>
<html>
<head>
<meta charset="UTF8">
<title>Cadastrar Time - Fut1x1</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/inicial_style.css">
</head>
<body>
<body
	th:style="'width:1900px; heigth: 1069px; background: url(/img/4950071.jpg) no-repeat center center fixed'">
	<div class="container">
		<header class="menu-bg">
			<div class="menu">
				<div class="menu-logo btns">
					<a href="/"><img src="/img/logo.png"></a>
				</div>
				<nav class="navbar navbar-light menu-nav">
					<ul>
						<li><a class="nav-link efeito-li" href="/time">TIMES</a></li>
						<li><a class="nav-link efeito-li" href="/tecnico">TÉCNICO</a></li>
						<li><a class="nav-link efeito-li" href="/jogador">JOGADORES</a></li>
						<li><a class="nav-link efeito-li" href="/apostas">APOSTAS</a></li>
					</ul>
				</nav>
				<a href="/login">
					<button type="button" class="efeito efeito-1 btn-largo negado">Login</button>
				</a>
			</div>
		</header>
	</div>
	<div class="container-fluid" style="margin-left: 14px;">
		<div class="float-sm-left intro">
			<h1 class="intro-1">Cadastro de Equipes para</h1>
			<span class="intro-1">Campeonato 1VS1</span>

			<form action="/save_time" method="POST" th:object="${time}">
				<input type="hidden" th:field=*{id}>
				<div class="form-row align-items-center">
					<div class="col-sm-3 my-1">
						<label class="mr-sm-2" for="inlineFormInputName">Name da
							Equipe</label> <input type="text" th:field="*{nome}" class="form-control"
							id="inlineFormInputName" placeholder="Sport" required="required">
					</div>

					<div class="col-sm-3 my-1">
						<label class="mr-sm-2" for="inlineFormCustomSelect">Estado</label>
						<select th:field="*{uf}" class="custom-select mr-sm-2"
							id="inlineFormCustomSelect">
							<option th:each="uf : ${lista_ufs}" th:text="${uf}"
								th:value="${uf}"></option>
						</select>
					</div>

					<div class="col-sm-3 my-1">
						<label class="mr-sm-2" for="inlineFormCustomSelect">Técnico</label>
						<select th:field="*{tecnico}" class="custom-select mr-sm-2"
							id="inlineFormCustomSelect" required="required">
							<option th:each="tec : ${lista_tecs}" th:text="${tec.nome}"
								th:value="${tec.id}"></option>
						</select>
					</div>

					<button type="submit" class="efeito efeito-1 btn-largo btn-reg">Cadastrar</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>