<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/index.css">
<!--Material icons-->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<!--Fonts-->
<title>Futeboleiros | Início</title>
</head>
<body>
	<!-- Fragment Background -->
	<div th:replace="fragmentos/fragmentos :: background"></div>
	<section>
		<!-- Fragment Header -->
		<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
		
		<main class="content">
			<div class="container-text">
				<p class="text-banner">Pronto para o próximo nivel?</p>
				<p class="text-banner w">Campeonato de 1X1</p>
				<a th:href="@{cadastro}" class="register-button">Registrar</a>
			</div>
		</main>
	<!-- Fragment Footer -->
	<div th:replace="fragmentos/fragmentos :: rodape"></div>

	</section>
	<script src="/scripts/menu.js"></script>
</body>
</html>